.carta {
    background-color: aquamarine;
    max-width: 10%;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  
}
.gg {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
   align-items: center;
   background-color: rgb(19, 168, 151);
}
.like {
    display: flex;
    justify-content: space-between;
}
.titolo {
    font-size: large;
    font-weight: bold;
}
.likes {
    border-radius: 100%;
    background-color: aliceblue;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.body{
    display: flex;
    
}