.postadd {
    background-color: blue;
    width: 100px;
    height: 50px;
    padding: 20px;
    margin: 20px;


}
.textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(19, 168, 151);
    max-height: 100vh;
    padding: 20px;
    margin: 20px;
}

.title{
    width: 400px;
    height: 40px;
    resize: none;
    padding: 20px;
    margin: 20px;
}

.content {
    width: 800px;
    height: 500px;
    resize: none;
    padding: 20px;
    margin: 20px;
}